$def with (rdata)
<html>
  <head>
    <title>Locations for OCLC record $rdata['oclcnum'] near $rdata['zip']</title>
    <link href="/json?oclcnum=$rdata['oclcnum']&amp;zip=$rdata['zip']" type="application/json" rel="exhibit/data" />
    <link rel="stylesheet" href="http://matienzo.org/sites/all/themes/blueprint/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
    <script src="http://static.simile.mit.edu/exhibit/api-2.0/exhibit-api.js"
            type="text/javascript"></script>
    <script src="http://static.simile.mit.edu/exhibit/extensions-2.0/map/map-extension.js?gmapkey=$rdata['key']"
            type="text/javascript"></script>
  </head> 
  <body>
    <div style="width: 98%;">
        <div ex:role="exhibit-lens" style="display:none;">
            <h3 ex:content=".label"></h3>
            <ul><li>
            <a ex:href-content=".link">Link to Catalog</a></li>
            <li><span ex:content=".numberOfCopies"></span> copy/copies</li>
            <li>
              OCLC Symbol: <span ex:content=".oclcid"></span></li>
             </ul>
            </div>
        </div>
      
      <h1>Holding libraries for record <a href="http://www.worldcat.org/oclc/$rdata['oclcnum']">$rdata['oclcnum']</a> near $rdata['zip']</h1>
      <div style="float: left; width: 25%; margin-right: 2%;">
        <div style="margin-bottom: 5%">
            <h2>Citation</h2>
            <ul><li>$:rdata['cit']</li></ul>
        </div>
        <div style="margin-bottom: 5%">
              <h2>Find holdings for another item</h2>
              <form method="get" action="/locations">
              <p><label for="ox">OCLC number</label><input type="text" name="oclcnum" size="12" id="ox"/><br/><label for="zx">ZIP code</label><input type="text" name="zip" size="7" id="zx" value="$rdata['zip']"/><input type="submit" value="Search"/></p>
	      </form>
          </div>
      </div>
      <div ex:role="view" ex:viewClass="Map" ex:latlng=".addressLatLng" style="float: left; width: 70%;" ex:mapHeight="400" ex:center="$rdata['ctr'][0],$rdata['ctr'][1]" ex:zoom="10" ex:scaleControl="true"></div>
    </div>
  </body>
</html>
